# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
pygame_env/
.venv/
venv/

# Training outputs
model/
*.pth
train.log

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
